{% extends 'core/base.html' %}

{% block title %}Администрирование{% endblock %}

{% block content %}
    <h2>Администрирование</h2>

    <div class="card">
        <p class="muted">Внутренний административный раздел системы.</p>
    </div>

    <div class="card">
        <h3>Разделы</h3>
        <ul>
            <li>
                <a href="{% url 'admin_user_list' %}">Пользователи</a>
            </li>
            <li>
                <a href="{% url 'admin_category_list' %}">Категории услуг</a>
            </li>
            <li>
                <a href="{% url 'admin_import_database' %}">Импорт Excel</a>
            </li>
        </ul>
    </div>
{% endblock %}